.card{
    background-color: #00D7FF;
}

.size-card {
    max-width: 200px;
}

.size-notes-card {
    max-width: 1000px;
    min-width: 1000px;
}

.content {
    margin: 50px;
}

.content>mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

h1{
    margin: 0;
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
}
.title-div{
     top: 237px;
    left: 484px;
    width: 952px;
    height: 155px;
    align-self: center;
}

h1{
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    text-align: center;
    font: normal normal bold 70px/60px Arial;
    letter-spacing: 0px;
    opacity: 1;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
